<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Wifi Login</title>

</head>


<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">

<link rel="stylesheet" type="text/css" href="/admin/designer/contentbuilder/contentbuilder.css">
<link rel="stylesheet" type="text/css" href="/admin/designer/assets/minimalist-blocks/content.css">

<link rel="stylesheet" type="text/css" href="/admin/designer/assets/scripts/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/admin/designer/assets/scripts/slick/slick-theme.css" />


<script src="/app-assets/vendors/js/vendors.min.js"></script>


<body>
<div class="cb-container" style="padding: 15px; margin: auto;">


    <section class="row flexbox-container">
        <div class="col-12 d-flex justify-content-center">
            <div class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100">
                <div class="card-content">
                    <div class="card-body text-center">
                        <img src="/app-assets/images/pages/404.png" class="img-fluid align-self-center">
                        <h1 class="font-large-2 my-1">System Under Maintenance</h1>
                        <p class="p-2">
                            This system still under maintenance. Please try again after 10 minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<script src="/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>

</body>
</html>